AUDITMIND_DB_NAME=auditmind
AUDITMIND_DB_USER=auditmind
AUDITMIND_DB_PASSWORD=auditmind_dev_password
AUDITMIND_DB_PORT=5432
AUDITMIND_PADDLE_OCR_CHAT_URL=http://100.126.53.70:8118/v1/chat/completions
AUDITMIND_PADDLE_OCR_MODEL=PaddleOCR-VL-1.5-0.9B
